.miniAppWrapper {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.innerArea {
  flex: 1;
  overflow-y: auto;
}