@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Toaster or in any Components or Pages */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}


html, body {
  touch-action: pan-x pan-y; /* ✅ scroll allowed */
  overscroll-behavior: none; /* pull-to-refresh off */
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Chrome, Firefox */
}

* {
  /* -webkit-touch-callout: none; iOS Safari */
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: 300; */
}

/* img, svg {
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
} */



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
